<aside class="cocktail-filter">
  <form [formGroup]="categoriesForm">
    <div class="menu" formArrayName="categories">
      <label class="label" *ngFor="let category of categories; let i = index">
        <input type="checkbox" class="checkbox" formControlName="{{i}}">
        <span class="name">{{category.strCategory}}</span>
      </label>
      <button class="button-apply" (click)="cocktailService.getCocktailsByCategories(categoriesForm.value.categories)">Apply</button>
    </div>
  </form>
</aside>
